.login {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f2f5;

  .left {
    .description {
      font-size: 1.3rem;
      color: #606770;
      margin-top: -20px;
    }
  }

  .right {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    form {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    input {
      font-size: 1.1rem;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #dddfe2;

      &:focus {
        outline: none;
        border-color: #1b74e4;
      }
    }

    .error {
      font-size: 1.1rem;
      color: red;
      margin: 0;
      padding-left: 10px;
    }

    hr {
      margin: 30px 0;
    }

    button {
      cursor: pointer;
      background-color: #1877f2;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 5px;
      line-height: 48px;

      &:hover {
        background-color: cornflowerblue;
      }
    }

    .buttonContainer {
      text-align: center;
      padding-bottom: 20px;

      a {
        background-color: #42b72a;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5px;
        padding: 14px 16px;

        &:hover {
          background-color: #36a420;
        }
      }
    }

    .formError {
      box-shadow: 0 0 10px #be4b49;
      background-color: #be4b49;
      color: white;
      font-size: 1.1rem;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
