.leftBar {
  height: calc(100vh - 60px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ced0d4;
    border-radius: 20px;
    border: 3px solid transparent;
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }

  ul.items {
    list-style: none;
    margin: 0;
    padding: 15px 10px 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      cursor: pointer;
      background-color: #ced0d4;
    }
  }
}
